<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1" class="bg-yellow-50">

  <%- include('partials/navbar', {page: '/about'}) %>
 

  
  <div class="container mx-auto">

    <div class="hero bg-yellow-200 rounded-lg p-6 border-dashed border-8 border-black">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Learn about me!!!</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <figure>
          <img class="w-full rounded-lg bordered border-black height =500px width = 250px border-8"
          src="https://megasplain.com/wp-content/uploads/2024/02/Screenshot-2024-02-28-151251-1.png"
          alt="profile" />
          <figcaption>Me if I do not do well on this assignment. (My life is over)</figcaption>
        </figure>
      

      </div>
      <div class="prose">

        <p>My name is Daniel Khesali,  I'm currently a student in WEB322 (Professor Tanvir Alam's class).</p>

        <p>I am also using the A3 Template to complete this assignment. I apologize for similarities.
          I enjoy coding in C++ mainly. WEB is my weakpoint. I tried my best, hopefully the CSS isn't too too horrible.
        </p>

      </div>

    </div>

  </div>
</body>

</html>